@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./Navbar.module.css";
@import "./Listing.module.css";
@import "./Home.module.css";
@import "./Details.module.css";
@import "./Create.module.css";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  font-family: 'Poppins';
  @apply bg-gray-200 dark:bg-gray-900 min-h-screen text-white tracking-wide
}